.board {
    height: 380px;
    width: 380px;
    background-color: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-gap: 10px;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
